<p>user-detail works!</p>
<mat-card class="user-detail-header" appearance="outlined">
  <mat-card-content class="user-content">
    <img src="./assets/img/profile-1.png" alt="" />
    <div class="user-name-email">
      <h2>Max Mustermann</h2>
      email&#64;email.de
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="user-detail-address mT-32">
  <mat-card-header>
    <mat-card-title>Address</mat-card-title>
  </mat-card-header>

  <mat-card-content class="user-address">
    Musterstr. 70 <br />
    12345 Musterstadt
  </mat-card-content>
</mat-card>
