.add-user-btn{
    position: absolute;
    right: 56px;
    bottom: 56px;
}

mat-card-content {
    padding-left: 0;
    padding-right: 0;
}

.users-table{
    width: 100%;
    border-collapse: collapse;
    thead tr{
        cursor: unset;
        &:first-child{
         height: 48px;
            border-bottom: 4px solid #e9e0e4;
            background-color: #161215;
        }
    }

     tr{
        border-bottom: 1px solid #e9e0e4;
        cursor: pointer;
     
        &:last-child {
            border-bottom: 0;
             }   
             td{
                height: 32px;

                &:first-child{
                    padding-left: 16px;
                }
            }
            th {
                &:first-child{
                    padding-left: 16px;
                }
            }

            &:hover {
                background-color: #464344;
                
             
            }

    }
    
    
    td{
        height: 32px;
    }
    th{
        text-align: start;
    }
    .users-element{
        font-weight: 800;
        font-size: 16px;
    }
}