<mat-card appearance="outlined">
  <mat-card-content>
    <table class="users-table">
      <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>City</th>
      </tr>
      <tr class="users-element">
        <td>hallo</td>
        <td>meyega</td>
        <td>mapubi</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>

<!-- ----------------------------------------------------------------------------------- -->
<button
  (click)="openDialog()"
  class="add-user-btn"
  matTooltip="add user"
  [matTooltipPosition]="position"
  mat-fab
>
  <mat-icon>add</mat-icon>
</button>
