.mat-drawer-container {
    height: 100vh;
    background-color: white;
   
  }

  .sidenav {
    background-color: white;
    border-color: rgb(232, 236, 236);
    width: auto;
    width: 300px;
    border-radius: 0%;
    color: black; /* Falls du eine dunklere Schrift möchtest */

    .logo-container{
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      padding-left: 16px;
      padding-right: 16px;
      min-height: 56px;
      display: flex;
      align-items: center;
    }

    .menu-items{
      list-style-type: none;
      padding: 0;
      margin: 0;

      li{
        padding-left: 16px;
        padding-right: 16px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;

        mat-icon {
          margin-right: 16px;
        }

        &:hover{
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  
  .custom-toolbar {
    background-color: #64b5f6; /* Hellblau */
    color: white;

    .menu-icon{
      margin-right: 4px;
      cursor: pointer;
    }
   
  }

  mat-toolbar, mat-toolbar-row {
    min-height: 56px;
    height: 56px;
  }
 